@model HashGag.Models.Question


<a href="/Competition/Details/@Model.QuestionID">
    <div class="questionCard">
        <div class="questionScorePanel">
            <span>42</span>
        </div>
        <div class="questionImagePanel">
            @*<img src="@Url.Content(Model.TwitterUser.ProfileImageURL)" alt="Question Image" />*@
            <img src="https://pbs.twimg.com/profile_images/3685227674/67c501ba4eb74c8b7426f1109b38e70a_bigger.jpeg" alt="Question Image" />
        </div>
        <div class="questionInfoPanel">
            <h5>@Html.DisplayFor(model => model.Text)</h5>
            <div>@Html.DisplayNameFor(model => model.EndDate)</div>
        </div>
    </div>
</a>
