@model HashGag.Models.ViewModels.HubViewModel

@{
    ViewBag.Title = "Hub";
}

<div class="hubPanel container" >
    
    <div class="container">
        @if (@Model.WelcomeMessage != string.Empty)
        {
            <div style="text-align: center;" class="hubWelcome col-xs-12">
                @Model.WelcomeMessage
            </div>
        }
        <div style="clear: both; height: 1px;"></div>
        <div class="questionHeader col-xs-12 col-sm-4 col-sm-offset-4">
            <h1>Active Questions</h1>
        </div>
    </div>
    <div class="hubCol col-sm-6 col-sm-offset-3 col-xs-12">
        @Html.Partial("_QuestionListView", Model.ColumnOneQuestions)
    </div>
</div>


