@model HashGag.Models.ViewModels.HubViewModel

@{
    ViewBag.Title = "Hub";

}

<div class="hubPanel container" >
    <div class="container">
        <div class="questionHeader col-xs-1 col-sm-4 col-sm-offset-4">
            <h1>Active Questions</h1>
        </div>
    </div>
    <div class="hubCol col-sm-6 col-sm-offset-3 col-xs-1">
        @Html.Partial("_QuestionListView", Model.ColumnOneQuestions)
    </div>
</div>


