@model dynamic

@{
    ViewBag.Title = "Hub";

}
<div class="competition-container">
    <div class="wireframe" id="hub-title">
        hub title
    </div>
    
    <div class="wireframe" id="hub-competition">
        competition
    </div>
</div>
