@model HashGag.Models.Question

@{
    ViewBag.Title = "Hub";

}
<div class="competition-container">
    <div class="wireframe" id="hub-title">
        hub title
    </div>
    
    <div class="wireframe" id="hub-competition">
        <div id="hub-questiontext">The question is: @Html.DisplayFor(mode => mode.Text) </div>
        <div id="hub-currentleader">The current leader is: with xx points.</div>
        <div id="hub-tweets"></div>
    </div>
</div>
