@model HashGag.Models.TwitterUser
@{
    ViewBag.Title = "Index";
}

<div class="competition-container">
    <div class="wireframe" id="user-title">
        Welcome @Html.DisplayFor(mode => mode.ScreenName)
    </div>

    <div class="wireframe" id="user-statistics">
        user statistics
    </div>

    <div class="wireframe" id="user-recenttweets">
        user recent tweets: @Html.DisplayFor(mode => mode.Tweets)
    </div>

</div>

