@model HashGag.Models.TwitterUser
@{
    ViewBag.Title = "Index";
}

<div class="competition-container">
    <div id="user-title">
        Welcome, @Html.DisplayFor(mode => mode.ScreenName), feel free to enter your own Hashgags in the box below:
    </div>

    <div id="submitquestion-textfield">
        <textarea maxlength="140">e.g. #FishNFilms</textarea>
    </div>

    <div id="submitquestion-button">
        <a><img class="question-displayed" src="/Content/Images/Submit_button.png"/></a>
    </div>

</div>

