
@{
    ViewBag.Title = "Index";
}

<div class="competition-container">
    <div class="wireframe" id="user-title">
        user title
    </div>

    <div class="wireframe" id="user-statistics">
        user statistics
    </div>

    <div class="wireframe" id="user-recenttweets">
        user recent tweets
    </div>

</div>

