<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="token_ConsumerKey" value="mhjgsAYfH91wwnbKfYS9Uw" />
    <add key="token_ConsumerSecret" value="CLEkIlCWiYjKmbTfHwr6BUcEXGGnZQE65pzt6NBQ4" />
    <add key="token_AccessToken" value="8556152-aZUK7qFP0b8ecW9GbCZsE32isvsSloPXUlIDC3xtEb" />
    <add key="token_AccessTokenSecret" value="uVWwKTDBziq2kAGBn97sJRYcNnDAXfxA0ESvCySXa1Txw" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <connectionStrings>
    <add name="hashgagEntities" connectionString="metadata=res://*/Models.HashGagDatabase.csdl|res://*/Models.HashGagDatabase.ssdl|res://*/Models.HashGagDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=struthers.no-ip.biz;initial catalog=studenthack;persist security info=True;user id=studenthack;password=5tudentH4ck!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>