<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="token_ConsumerKey" value="mhjgsAYfH91wwnbKfYS9Uw"/>
    <add key="token_ConsumerSecret" value="CLEkIlCWiYjKmbTfHwr6BUcEXGGnZQE65pzt6NBQ4"/>
    <add key="token_AccessToken" value="8556152-aZUK7qFP0b8ecW9GbCZsE32isvsSloPXUlIDC3xtEb"/>
    <add key="token_AccessTokenSecret" value="uVWwKTDBziq2kAGBn97sJRYcNnDAXfxA0ESvCySXa1Txw"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>