body {
}
#invite-logo {
    padding-left: 173px;
    padding-top: 15px;
    padding-bottom: 22px;
}

#invite-line {
    padding-bottom: 7px;
    padding-left: 15px;
}
#invite-twitter-handle {
    padding-top: 13px;
    padding-left: 43px;
    padding-bottom: 11px;
    padding-left: 45px;
}

#invite-twitter-handle textarea {
    width: 339px;
    border-color: #42a8f2;
    resize: none;
    color: #42a8f2;
    font-size: 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    max-width: 340px;
    height: 55px;
    font-size: 22px;
}

#invite-tweet-message {
    padding-left: 45px;
    padding-bottom: 13px;
}

#invite-tweet-message textarea{
    width: 339px;
    height: 155px;
    border-color: #42a8f2;
    color: #42a8f2;
    resize: none;
    font-size: 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    max-width: 340px;
    font-size: 20px;
}

#invite-button {
    padding-left: 35px;
}

#invite-container { 
    margin: 0 auto;
    width: 34%;
}

#login-container {
    margin: 0 auto;
    width: 14%;
}

#login-button {
    padding-top: 37px;
    padding-bottom: 25px;
}

#login-line {
    padding-left: 10px;
}

#login-logo {
    padding-left: 20px;
    padding-bottom: 24px;
    padding-top: 19px;
}

.competition-container {
    margin: 0 auto;
    width: 90%;
    float: left;
}
.wireframe {
    border: 1px solid black;
}
#competition-question {
    text-align: center;
    font-weight: bolder;
    font-family: sans-serif; 
    color: blueviolet;
    padding-bottom: 14px;
    padding-top: 14px;
    font-size: 46px;
}

#user-title {
    font-size: 32px;
    text-align: center;
    font-weight: bolder;
    font-family: sans-serif;
    color: cornflowerblue;
    padding-bottom: 14px;
    padding-top: 14px;
}

#competition-joinorsubmit {
    font-size: 22px;
    text-align: center;
}

#competition-submittext {
    font-size: 44px;
}

#competition-submittext textarea {
    height: 12%;
    width: 35%;
}

#competition-submittitle {
    font-size: 44px;
}
#competition-submitbutton {
    padding-top: 11px;
    padding-bottom: 11px;
}
#competition-submitbutton button {
    padding-top: 5px;
    height: 77px;
    font-size: 47px;
}

#competition-league1{

}

#competition-league2{

}

#competition-standings {

}

#competition-league3{

}