body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #e5e5e5;
    font-family: "letter-gothic-std",sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*
    Navigation    
*/
.logoPanel {
    text-align: center;
}

.navbar {
    background-color: #fff;
    color: #42a8f2;
    margin-bottom: 37px;
}

    .navbar .logo {
        width: 129px;
        height: 37px;
        margin: 12px auto;
    }

.navbar-inverse .navbar-nav > li {
    padding: 10px 0;
}

    .navbar-inverse .navbar-nav > li > a {
        background-color: #42a8f2;
        color: #fff;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

.welcomePanel label {
    padding: 8px 0 0;
}

/*
    Cards    
*/
.questionCard {
    width: 100%;
    min-height: 100px;
    padding: 0 10px;
    margin: 0px auto;
    clear: both;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.questionCardWrapper {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}
    .questionCard:hover {
        background-color: white;
    }

    .questionCard .questionImagePanel {
        float: left;
        margin: 0 20px 0 0;
        clear: left;
    }

        .questionCard .questionImagePanel img {
            -webkit-border-radius: 42px;
            -moz-border-radius: 42px;
            border-radius: 42px;
        }

    .questionCard .questionScorePanel {
        float: right;
        width: 30%;
        text-align: center;
    }

        .questionCard .questionScorePanel span {
            width: 84px;
            height: 24px;
            padding: 15px 30px;
            margin-left: 50px;
            display: block;
            text-align: left;
            font-size: 30px;
            color: #42a8f2;
        }

.questionInfoPanel {
    width: 90%;
    margin-left: 65px;
}

    .questionInfoPanel h5 {
        font-weight: bold;
        margin-top: 10px;
    }

.hubPanel .hubCol {
    margin-top: 30px;
}
.hubPanel .hubCol h2 {

    text-align: center;
    color: #42a8f2;
}

.questionHeader {
    text-align: center;
    background-color: #42a8f2;
    color: white;
    padding: 10px 30px 20px;
    -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            border-radius: 30px;
}