<div id="login-container">
    <div id="login-logo">
        <img src="/Content/Images/Login_logo.png" alt="line"/>
    </div>
    
    <div id="login-line">
        <img src="/Content/Images/Login_line.png" alt="line"/>
    </div>
    
    <div id="login-button">
        <a><img src="/Content/Images/Login_button.png"/></a>
    </div> 
</div>
