@using System.Web.UI.WebControls
@model HashGag.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
    ViewBag.ReturnUrl = "";
}

<h2>@ViewBag.Title.</h2>
<div class="competition-container">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
        </section>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}