<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/gary.css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" src="//use.typekit.net/oah6isr.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>