<div id="invite-container">
    <div id="invite-logo">
        <img src="/Content/Images/Invite_text.png" alt="invite"/>
    </div>
    
    <div id="invite-line">
        <img src="/Content/Images/invite_line.png" alt="divider line"/>
    </div>
    
    <div id="invite-twitter-handle">
        <textarea>Enter Tweet with #</textarea>
    </div>
    
    <div id="invite-tweet-message">
        <textarea>Type the Twitter usernames of the people you would like to invite.</textarea>
    </div>
    
    <div id="invite-button">
        <a><img src="/Content/Images/Invite_button.png" alt="Invite button"/></a>
    </div>
</div>
