@using Microsoft.AspNet.Identity

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div>
            <div class="col-sm-4 col-xs-1">
                <ul class="welcomePanel nav navbar-nav" >
                    <li>@Html.Label("Hello " + User.Identity.GetUserName())</li>
                </ul>
            </div>
            <div class="logoPanel col-sm-4 col-xs-1">
                <img class="logo" src="/Content/Images/Nav_Bar_Logo.png" />
            </div>
            <div class="loginPanel col-sm-4 col-xs-1">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
</div>