@using Microsoft.AspNet.Identity

<script type="text/javascript">

    $(document).ready(function() {
        $(".loginBackground").hide();
        $("#loginLink").click(function (event) {
            event.preventDefault();
            $(".loginBackground").toggle();
        });
    });

</script>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div>
            <div class="col-sm-4 col-xs-1">
                <ul class="welcomePanel nav navbar-nav" >
                    Welcome
                </ul>
            </div>
            <div class="logoPanel col-sm-4 col-xs-1">
                <a href="/Hub/">
                    <img class="logo" src="/Content/Images/Nav_Bar_Logo.png" />
                </a>
            </div>
            <div class="loginPanel col-sm-4 col-xs-1">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
</div>
<div class=" loginBackground">
    @Html.Partial("_Login")
</div>