@model dynamic

@{
    ViewBag.Title = "Competition";
}

<h2>title</h2>
<div id="competition-container">
    <div class="wireframe" id="competition-titlebar">
        titlebar
        
    </div>
    <div class="wireframe" id="competition-question">
        question
    </div>
    <div class="wireframe" id="competition-joinorsubmit">
        joinorsubmit
    </div>
    <div class="wireframe" id="competition-standings">
        standings
    </div>

</div>