@model HashGag.Models.ViewModels.CompetitionViewModel

@{
    ViewBag.Title = "Competition";
}


<div class="hubPanel container">
    <div class="hubCol col-sm-4 col-xs-1">
        <h2>Filter Title</h2>
        @Html.Partial("CompQuestionListView", Model.ColumnOneQuestions)
    </div>
    <div class="hubCol col-sm-4 col-xs-1">
        <h2>Filter Title</h2>
        @Html.Partial("CompQuestionListView", Model.ColumnTwoQuestions)
    </div>
    <div class="hubCol col-sm-4 col-xs-1">
        <h2>Filter Title</h2>
        @Html.Partial("CompQuestionListView", Model.ColumnThreeQuestions)
    </div>
</div>


@*<div class="competition-container">
    <div class="wireframe" id="competition-titlebar">
        titlebar
    </div>
    <div id="competition-question-container">
        
    </div>
    <div class="wireframe" id="competition-question">
        @Html.DisplayFor(mode => mode.Text)
    </div>
    <div class="wireframe" id="competition-joinorsubmit">
        <div id="competition-entry">
         <div id="competition-submittitle"> Enter here:</div>
       
        <div id="competition-submittext">
            <textarea>Codfather</textarea>
        </div>
        </div>
        
        
        <div id="competition-submitbutton"><button id="tweetsubmit">Submit</button></div>
    </div>
    <div class="wireframe" id="competition-standings">
        <div id="competition-league1">TABLE 1</div>
        <div id="competition-league2">TABLE 2</div>
        <div id="competition-league3">TABLE 3</div>
    </div>

</div>*@